
.wrapper {
  width:30%;
  background-color: cadetblue;
}
.header {
  min-height: 50px;
  text-align: center;
  background-color: beige;
  color: blue;
  padding: 20px;
}

.footer {
  background-color: darkgreen;
  color: white;
  min-height: 50px;
  text-align: center;
  padding: 20px;
}

.body {
  padding: 20px;
}
