<div class="wrapper">
  <h1>Login</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name"
             type="text" class="form-control"
             id="name"  placeholder="Enter name"
             required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input name="email"
             type="email" class="form-control"
             id="email"  placeholder="Enter a valid email"
             required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input  name="password"
              type="text" class="form-control"
              id="password" placeholder="Enter a password"
              required>
    </div>

    <button type="submit"  class="btn btn-success">Submit</button>

  </form>
</div>
